.app {
  width: 80%;
  background-color: white;
  margin: 0px auto;
  height: 100vh;
  padding: 30px;
}

header a {
  margin-left: 20px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 3px;
  box-shadow: 2px 2px rgb(126, 110, 143);
}

h1 {
  margin: 20px 0px;
}

form {
  width: 300px;
}

label {
  display: block;
  text-transform: capitalize;
}

input,
button {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 3px;
}
